body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


.ProfilePiccAndName{
    text-align: center;
    color: rgb(255, 255, 255);
}

.ProfilePiccAndName{
    box-shadow: 2px 7px 12px black;
    background-color: rgb(115, 90, 252);
    
}

.Welcome-message{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: rgb(18, 0, 34);
    background-color: rgb(255, 251, 1);

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.Welcome-message:hover{
        opacity:1;
}


main section:not(:last-child) {
    margin-bottom: 40px; /* Adjust the value as needed */
  }


section{
    margin-left: 20px;
}


h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color: rgb(71, 71, 206);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding: 10;
    box-shadow: 7px 4px 5px rgb(153, 159, 221);
    width:150px;
    height: 35px;
}

p{
    color: rgb(0, 0, 0);
    margin-left: 20px;
}


main{
    background-color: rgb(198, 213, 245);
}


footer{
    text-align: center;
    color: rgb(116, 52, 9);
    background-color: rgb(241, 197, 115);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    box-shadow: 4px 16px 20px rgb(233, 191, 100);
}

footer h4{
    margin-top:-15px
}